.emojis{
  display: grid;
  grid-template-rows: 300px 350px;
  grid-template-columns: 50% 50%;
  gap: 20px;
  margin:20px;
}

.emoji {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  
}

.icon {
  order: -1;
  display: flex;
  font-size: 4rem;
  justify-content: center; 
  
}